</div>
<!-- Footer -->
<footer class="page-footer font-small bg-light fixed-bottom">

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2022 Copyright:
<a href="/"> Web Tech</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>