<%- include('partials/header.ejs') %>
<main class="form-signin m-5 text-center center">
    <form style="width: 40%; margin: auto;">
      <h1 class="h3 mb-3 fw-normal">Register</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="firstname" name="firstname">
        <label for="firstname">First Name</label>
      </div><br>
      <div class="form-floating">
        <input type="text" class="form-control" id="lastname" name="lastname">
        <label for="lastname">Last Name</label>
      </div><br>
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email">
        <label for="email">Email address</label>
      </div><br>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password">
        <label for="password">Password</label>
      </div><br>
      <button class="w-40 btn btn-lg btn-primary " type="submit">Register</button>
    </form>
  </main>
<%- include('partials/footer.ejs') %>